*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

.site-header {
    background-image: url("https://assets.codepen.io/308367/mountain-with-stars.jpg");
    background-position: bottom;
    background-size: cover;
    /* background-attachment: fixed; */
    padding: 5rem;
    min-height: 70vh;
    position: relative;
}

.site-header-mask {
    position: absolute;
    inset: 0;
    -webkit-mask: url("https://assets.codepen.io/308367/mountain-mask.svg");
    mask: url("https://assets.codepen.io/308367/mountain-mask.svg");
}

.site-title {
    color: white;
    text-align: center;
    font-size: clamp(4rem, 10vw + 0.5rem, 9rem);
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
}